@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: #e9eaee;
    box-shadow: 0px -1px 11px 1px #959494;
}

nav a{
    margin: 0 1rem;
    color: #07132e;
    text-decoration: none;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px){
  header .nav-btn {
     visibility: visible;
     opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0px -1px 11px 1px #959494;
    background-color: #e9eaee;
    transition: 1s;
    transform: translateY(-100vh);
  } 
  header .responsive_nav{
    transform: none;
  }
  nav .nav-close-btn{
   position: absolute;
   top: 2rem;
   right: 2rem;
  }
  nav a{
    font-size: 1.5rem;
  }
}
