@media (max-width: 1200px){
    .cont{
        width: 100%;
    }
    .box{
        width: 100%;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flexons{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 8em;
        margin: 1em !important;
    }
}
@media (max-width: 580px){
    .flexons{
        padding: 0;
    }
}